<!DOCTYPE HTML>
<!--
    Spectral by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Spotify Battle!</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/css/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie/v8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie/v9.css" /><![endif]-->
        <!--[if lte IE 8]><script src="assets/css/ie/respond.min.js"></script><![endif]-->

   <%= stylesheet_link_tag    'application', media: 'all' %>
   <%= javascript_include_tag 'application' %>

    </head>
    <body class="landing">

        <!-- Page Wrapper -->
            <div id="page-wrapper">

                <!-- Header -->
                    <header id="header" class="alt">
                        <h1><a href="index.html">Spotify Battle!</a></h1>
                    </header>

                <!-- Banner -->
                    <section id="banner">
                        <div class="inner">
                            <h2>Spotify Battle!</h2>
                            <p>Choose your artist<br />
               <form action="results" method="get">
                 Artist 1:
                 <input type="text" style="text-align: center" name="artist_1" value="">
                 Artist 2:
                 <input type="text" style="text-align: center" name="artist_2" value="">
                 <br><br>
                 <input type="submit" value="GO!">
               </form>
                            by <a href="http://cassidy-robertson.com/">Cassidy</a>
                                <a href="http://kennymiyasato.com/">Kenny</a></p>
                        </div>
                        <a href="http://flatironschool.com" class="more scrolly">The Flatiron School</a>
                    </section>

                <!-- Footer -->
                    <footer id="footer">
                        <ul class="icons">
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                        </ul>
                        <ul class="copyright">
                            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </footer>

            </div>
    </body>
</html><!-- 




<!DOCTYPE HTML>
Spectral by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
<html>
	<head>
		<title>Spotify Battle!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		[if lte IE 8]><script src="assets/css/ie/html5shiv.js"></script><![endif]
		<link rel="stylesheet" href="assets/css/main.css" />
		[if lte IE 8]><link rel="stylesheet" href="assets/css/ie/v8.css" /><![endif]
		[if lte IE 9]><link rel="stylesheet" href="assets/css/ie/v9.css" /><![endif]
		[if lte IE 8]><script src="assets/css/ie/respond.min.js"></script><![endif]

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

	</head>
	<body class="landing">

		Page Wrapper
			<div id="page-wrapper">

				Header
					<header id="header" class="alt">
						<h1><a href="index.html">Spotify Battle!</a></h1>
					</header>

				Banner
					<section id="banner">
						<div class="inner">
							<h2>Spotify Battle!</h2>
							<p>Choose your artist<br />
                <form action="results" method="get">
                  Artist 1:
                  <input type="text" style="text-align: center” name="artist_1" value="">
                  Artist 2:
                  <input type="text" style="text-align: center” name="artist_2" value="">
                  <br><br>
                  <input type="submit" value="GO!">
                </form>
							by <a href="http://cassidy-robertson.com/">Cassidy</a> &
								<a href="http://kennymiyasato.com/">Kenny</a></p>
						</div>
						<a href="http://flatironschool.com" class="more scrolly">The Flatiron School</a>
					</section>

			</div>
	</body>
</html> -->
