<h1>Hello</h1>
<form action="results" method="get">
Artist 1:<br>
<input type="text" name="artist_1" value="">
<br>Artist 2:<br>
<input type="text" name="artist_2" value="">
<br><br>
<input type="submit" value="Submit">
</form>
