<body>

 <h1>Spotify Battle</h1>

 <form action="results" method="get">
   Artist 1:<br>

   <input type="text" style="text-align: center" name="artist_1" value="">
   <br>Artist 2:<br>
   <input type="text" style="text-align: center" name="artist_2" value="">
   <br><br>
   <input type="submit" value="Submit">
 </form>

</body>

<!--
<body>

  <h1>Spotify Battle</h1>

  <form action="results" method="get">
    Artist 1:<br>
    <input type="text" style="text-align: center” name="artist_1" value="">
    <br>Artist 2:<br>
    <input type="text" style="text-align: center” name="artist_2" value="">
    <br><br>
    <input type="submit" value="Submit">
  </form>

</body> -->
