#header {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}

#artist_1 {
  text-align:center;
  width:350px;
  float:left;
  padding:10px;
}

#artist_2 {
  text-align:center;
  width:350px;
  float:right;
  padding:10px;
}
